.status {
  &__info {
    cursor: pointer;

    &--scheduled {
      cursor: default;
      pointer-events: none;

      &:hover, &:active, &:focus {
        background: none !important;
      }

      .status__display-name {
        cursor: default;
        pointer-events: none;

        &:hover, &:active, &:focus {
          text-decoration: none !important;
          background: none !important;
        }
      }
    }
  }
} 