@font-face {
  font-family: mastodon-font-sans-serif;
  src:
    local('Inter Italic'),
    url('../fonts/inter/inter-variable-font-slnt-wght.woff2')
      format('woff2-variations');
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: mastodon-font-sans-serif;
  src:
    local('Inter Bold'),
    url('../fonts/inter/inter-variable-font-slnt-wght.woff2')
      format('woff2-variations');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: mastodon-font-sans-serif;
  src:
    local('Inter Medium'),
    url('../fonts/inter/inter-variable-font-slnt-wght.woff2')
      format('woff2-variations');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: mastodon-font-sans-serif;
  src:
    local('Inter'),
    url('../fonts/inter/inter-variable-font-slnt-wght.woff2')
      format('woff2-variations');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
